<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
        <div class="container-fluid col">
            <a class="navbar-brand" href="/">F8 fake</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup ">
                <div class="navbar-nav ">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <% if (user1=='admin' ) {%>
                        <a class="nav-link" href="/posts">Thêm khoá học mới</a>
                        <a class="nav-link" href="/posts/showControll">Quản lý khoá học </a>
                        <%}else {%>
                            <a class="nav-link" href="/mycourses">Khoá học của tôi</a>
                            <%}%>
                </div>
            </div>
        </div>
        <% if (login==0){%>
            <div class="btn-login-logout col" style="display: inline; ">
                <a href="/signup" class="btn btn-light m-2" style="float: right;">Đăng Ký</a>
                <a href="/login" class="btn btn-light m-2" style="float: right;">Đăng Nhập</a>
            </div>
            <%}else {%>
                <div class="btn-login-logout col" style="display: inline; ">
                    <div style="display: inline; float: right; color: white">
                        <div class="color-white" style="margin-right: 50px;">
                            <%= user1%> <img src="/imgs/avt.png" alt="" style="width : 30px; height: 30px"
                                    class="rounded-circle">
                        </div>

                    </div>
                </div>
                <%}%>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <%for( let i=0; i < devices.length; i++) {%>
                <tr>
                    <td>
                        <%= devices[i].name %>
                    </td>
                    <td>
                        <%= devices[i].date %>
                    </td>
                    <td>
                        <a href="/posts/updatePosts/<%=devices[i]._id %>" class="btn btn-dark"> Sửa</a>
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#confirm"
                            data-bs-whatever="<%=devices[i]._id %>">Xoá</button>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <div class="modal fade" id="confirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xoá</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xoá
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="button" class="btn btn-danger" id="confirm_delete">Xoá</button>
                </div>
            </div>
        </div>
    </div>
    <form action="" id="formDelete" method="POST"></form>
    <script>
        addEventListener('DOMContentLoaded', (e) => {
            const confirm = document.getElementById('confirm_delete')
            const formDelete = document.getElementById('formDelete')
            var exampleModal = document.getElementById('confirm')
            exampleModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var recipient = button.getAttribute('data-bs-whatever')
                confirm.onclick = () => {
                    console.log(recipient)
                    formDelete.action = '/posts/' + recipient + '?_method=DELETE'
                    formDelete.submit()
                }
            })
        })
    </script>

</body>

</html>